[MESSAGES CONTROL]

disable=missing-module-docstring

[DESIGN]

# Maximum number of arguments for function / method
max-args=10

[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=7
